.mess{
    float: left;
    height: 100px;
    width: 20%;
    text-align: center;
    background-color: rgb(218, 221, 44);
    font-size:250%;
    opacity: 1.5;
    font-weight: 900;
    margin-left: 600px;
    margin-top: 10px;
    margin-bottom: 10px;

    
}
.he2{
    text-align: center;
}
.le{
    float: right;
    /* background-color: rgb(235, 83, 23); */
    font-size: 20px;
}
.head{
    /* border-style: solid;
    border-width: 1px; */
    background-color: powderblue;
    height: 120px;

}
.lediv{
    border-style: solid;
    border-width: 1px;
    width: 10%;
    height: 450px;
    background-color: pink;
}
.ledi1{
    background-color: pink;
    width: 80%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 0px;

}
.lediv1{
    color:black;
    text-decoration: none;
    height: 100px;
    width: 20%;
}
.ridiv{
  position: absolute;
    /* background-color: ; */
  top: 40%;
  /* -ms-transform: translateY(100%); */
  transform: translateX(150%);
  /* transform: translateY(150%); */
}
